/* ============= Colors ============= */
$primary: #37474f;
$dark: #263238;
$light: #546e7a;
$lighter: #b0bec5;
$text: #fafafa;
$link: #444444;

/* ============= Font sizes ============= */
$large-bold: 2.857rem; // 40px
$large-light: 1.785rem; // 25px
$medium-bold: 1.214rem;   //20px  
$medium-light: 0.785rem;   // 11px
$regular-size: 1rem;  // 14px
$button-text: 0.928rem;  //13px

/* ============= Fonts family ============= */
$bold: 'MontserratBold';
$regular: 'MontserratRegular';
$italic: 'MontserratItalic';
$extra-bold: 'MontserratExtraBold';
$thin: 'MontserratThin';
$light-font: 'MontserratLight';
$medium: 'MontserratMedium';
